In [1]:
import pandas as pd

In [2]:
#reading in CSV file
care_df = pd.read_csv("care.csv")
care_df.head()

,_id,Indicator,AACC Region,Aboriginality,Age Group,Gender,Count,Year
0,1,Children in care,East Kimberley,NonAboriginal,0 - 17 Years,All,0,2008
1,2,Children in care,East Kimberley,Aboriginal,0 - 17 Years,All,91,2008
2,3,Children in care,Goldfields-Esperance,NonAboriginal,0 - 17 Years,All,34,2008
3,4,Children in care,Goldfields-Esperance,Aboriginal,0 - 17 Years,All,69,2008
4,5,Children in care,Midwest-Gascoyne,Aboriginal,0 - 17 Years,All,94,2008

In [3]:
#reading in CSV file
assessed_df = pd.read_csv("assessed.csv")
assessed_df.head()

,_id,Indicator,AACC Region,Aboriginality,Age Group,Gender,Count,Year
0,1,Safety and Wellbeing Assessments,East Kimberley,Aboriginal,0 - 17 Years,All,325,2015-16
1,2,Safety and Wellbeing Assessments,East Kimberley,NonAboriginal,0 - 17 Years,All,4,2015-16
2,3,Safety and Wellbeing Assessments,Goldfields-Esperance,Aboriginal,0 - 17 Years,All,193,2015-16
3,4,Safety and Wellbeing Assessments,Goldfields-Esperance,NonAboriginal,0 - 17 Years,All,126,2015-16
4,5,Safety and Wellbeing Assessments,Midwest-Gascoyne,Aboriginal,0 - 17 Years,All,471,2015-16

In [4]:
# Delete age group column (not required)
del care_df['Age Group']
care_df.head()

,_id,Indicator,AACC Region,Aboriginality,Gender,Count,Year
0,1,Children in care,East Kimberley,NonAboriginal,All,0,2008
1,2,Children in care,East Kimberley,Aboriginal,All,91,2008
2,3,Children in care,Goldfields-Esperance,NonAboriginal,All,34,2008
3,4,Children in care,Goldfields-Esperance,Aboriginal,All,69,2008
4,5,Children in care,Midwest-Gascoyne,Aboriginal,All,94,2008

In [5]:
#Delete gender (not relevant)
del care_df['Gender']
care_df.head()

   _id         Indicator           AACC Region  Aboriginality  Count  Year
0    1  Children in care        East Kimberley  NonAboriginal      0  2008
1    2  Children in care        East Kimberley     Aboriginal     91  2008
2    3  Children in care  Goldfields-Esperance  NonAboriginal     34  2008
3    4  Children in care  Goldfields-Esperance     Aboriginal     69  2008
4    5  Children in care      Midwest-Gascoyne     Aboriginal     94  2008

In [6]:
#delete years prior to 2015
care2_df = care_df.loc[care_df['Year']>2014]
care2_df.head()

     _id         Indicator           AACC Region  Aboriginality  Count  Year
126  127  Children in care        East Kimberley     Aboriginal    144  2015
127  128  Children in care        East Kimberley  NonAboriginal      0  2015
128  129  Children in care  Goldfields-Esperance  NonAboriginal     23  2015
129  130  Children in care  Goldfields-Esperance     Aboriginal    135  2015
130  131  Children in care      Midwest-Gascoyne     Aboriginal    142  2015

In [7]:
#Delete years after 2016
care3_df = care2_df.loc[care2_df['Year']<2017]
care3_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 126 to 161
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id            36 non-null     int64
 1   Indicator      36 non-null     object
 2   AACC Region    36 non-null     object
 3   Aboriginality  36 non-null     object
 4   Count          36 non-null     int64
 5   Year           36 non-null     int64
dtypes: int64(3), object(3)
memory usage: 2.0+ KB

In [8]:
care4_df=care3_df
care4_df['id1']=range(36)
care4_df.head()

,_id,Indicator,AACC Region,Aboriginality,Count,Year,id1
126,127,Children in care,East Kimberley,Aboriginal,144,2015,0
127,128,Children in care,East Kimberley,NonAboriginal,0,2015,1
128,129,Children in care,Goldfields-Esperance,NonAboriginal,23,2015,2
129,130,Children in care,Goldfields-Esperance,Aboriginal,135,2015,3
130,131,Children in care,Midwest-Gascoyne,Aboriginal,142,2015,4

In [9]:
# Delete age group column (not required)
del assessed_df['Age Group']

In [10]:
#Delete gender (not relevant)
del assessed_df['Gender']

In [11]:
#Remove dash in year by replacing with no space
assessed_df['Year'] = assessed_df['Year'].str.replace(r'-','')

In [12]:
#assessed_df.head()

In [13]:
#Remove last 2 digits to make single year (do not re run as it removes entire year)
assessed_df['Year'] = assessed_df['Year'].str[:-2]

In [14]:
assessed_df.head()

,_id,Indicator,AACC Region,Aboriginality,Count,Year
0,1,Safety and Wellbeing Assessments,East Kimberley,Aboriginal,325,2015
1,2,Safety and Wellbeing Assessments,East Kimberley,NonAboriginal,4,2015
2,3,Safety and Wellbeing Assessments,Goldfields-Esperance,Aboriginal,193,2015
3,4,Safety and Wellbeing Assessments,Goldfields-Esperance,NonAboriginal,126,2015
4,5,Safety and Wellbeing Assessments,Midwest-Gascoyne,Aboriginal,471,2015

In [15]:
#Check regions in assessed data
assessed_df['AACC Region'].unique()

array(['East Kimberley', 'Goldfields-Esperance', 'Midwest-Gascoyne',
       'Perth', 'Pilbara', 'Southern', 'Western Australia', 'Wheatbelt',
       'West Kimberley'], dtype=object)

In [16]:
#check regions in care data
care4_df['AACC Region'].unique()

array(['East Kimberley', 'Goldfields-Esperance', 'Midwest-Gascoyne',
       'Perth', 'Pilbara', 'Southern', 'Western Australia', 'Wheatbelt',
       'West Kimberley'], dtype=object)

In [17]:
#add index to care df to enable merge
care5_df=care4_df.set_index('id1')

In [37]:
#merge df's and add suffixes to identify original df
merged_df = care5_df.merge(assessed_df,left_index=True, right_index=True,suffixes =('_care','_assessed'),validate=None)
merged_df.head()

,_id_care,Indicator_care,AACC Region_care,Aboriginality_care,Count_care,Year_care,_id_assessed,Indicator_assessed,AACC Region_assessed,Aboriginality_assessed,Count_assessed,Year_assessed
id1,,,,,,,,,,,,
0,127,Children in care,East Kimberley,Aboriginal,144,2015,1,Safety and Wellbeing Assessments,East Kimberley,Aboriginal,325,2015
1,128,Children in care,East Kimberley,NonAboriginal,0,2015,2,Safety and Wellbeing Assessments,East Kimberley,NonAboriginal,4,2015
2,129,Children in care,Goldfields-Esperance,NonAboriginal,23,2015,3,Safety and Wellbeing Assessments,Goldfields-Esperance,Aboriginal,193,2015
3,130,Children in care,Goldfields-Esperance,Aboriginal,135,2015,4,Safety and Wellbeing Assessments,Goldfields-Esperance,NonAboriginal,126,2015
4,131,Children in care,Midwest-Gascoyne,Aboriginal,142,2015,5,Safety and Wellbeing Assessments,Midwest-Gascoyne,Aboriginal,471,2015

In [38]:
merged_df.columns

Index(['_id_care', 'Indicator_care', 'AACC Region_care', 'Aboriginality_care',
       'Count_care', 'Year_care', '_id_assessed', 'Indicator_assessed',
       'AACC Region_assessed', 'Aboriginality_assessed', 'Count_assessed',
       'Year_assessed'],
      dtype='object')

In [40]:
#create new data frame with only columns required in order
organise_df = merged_df[["Year_care","AACC Region_care", "Aboriginality_care", "Count_assessed", "Count_care"]]
organise_df.head()

,Year_care,AACC Region_care,Aboriginality_care,Count_assessed,Count_care
id1,,,,,
0,2015,East Kimberley,Aboriginal,325,144
1,2015,East Kimberley,NonAboriginal,4,0
2,2015,Goldfields-Esperance,NonAboriginal,193,23
3,2015,Goldfields-Esperance,Aboriginal,126,135
4,2015,Midwest-Gascoyne,Aboriginal,471,142

In [41]:
#rename columns
Final_df = organise_df.rename(columns={"AACC Region_care":"AACC Region", "Aboriginality_care":"Aboriginality","Year_care":"Year", "Count_assessed":"Number assessed", "Count_care":"Number in Care"})
Final_df.head()

,Year,AACC Region,Aboriginality,Number assessed,Number in Care
id1,,,,,
0,2015,East Kimberley,Aboriginal,325,144
1,2015,East Kimberley,NonAboriginal,4,0
2,2015,Goldfields-Esperance,NonAboriginal,193,23
3,2015,Goldfields-Esperance,Aboriginal,126,135
4,2015,Midwest-Gascoyne,Aboriginal,471,142